@import "theme/app.scss";

.icon {

  &--hover{
    cursor: pointer;
  }

  &--small{
    width: $icon-small;
    height: $icon-small;

    img {
      width: $icon-small;
      height: $icon-small;
    }
  }

  &--normal{
    width: $icon-normal;
    height: $icon-normal;

    img {
      width: $icon-normal;
      height: $icon-normal;
    }
  }

  &--large{
    width: $icon-large;
    height: $icon-large;

    img {
      width: $icon-large;
      height: $icon-large;
    }
  }
}