@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&family=Roboto:wght@400;700&display=swap');

//FAMILY
$font-family-primary: 'Roboto', sans-serif;
$font-family-secundary: 'Roboto Mono', monospace;

//WEIGHT
$font-weight-regular: 500;
$font-weight-bold: 700;

//LINE-HEIGHT
$line-height-small: 75%;
$line-height-normal: 100%;
$line-height-large: 125%;
$line-height-xlarge: 160%;
