//ICON

$icon-small: 15px;
$icon-normal: 24px;
$icon-large: 40px;

//FONT

$font-xsmall: 12px;
$font-small: 14px;
$font-normal: 16px;
$font-large: 18px;
$font-xlarge: 24px;

$font-secundary-normal: 160px;